<div class="row">
      <div class="col s12">
        <h4 class="center">
          Hi, {{userName}}.
        </h4><div class="center">Bienvenido a tus ordenes</div>
      </div>
      <div class="">
        {{#unless orders}}
          <h3 class="red-text card center">No tienes reservaciones</h3>
        {{/unless}}
      </div>

      {{#each orders as |order|}}
      <div class="col s4 offset-s1 orange z-depth-1">
          <br>
          <img class="responsive-img col s6" src="{{order.fonda.img}}">
          <a href="/user/delete/{{order._id}}" class="btn red col s2 offset-s10"><i class="material-icons">delete</i></a>
          <h5 class="center">
          {{order.fonda.name}}
          </h5>
          <div class="col s10">
              <p> <strong>Invitados</strong>   {{order.howMany}}</p>
              <p> <strong>Hora Reservacion</strong>  {{order.arrive}}</p>
          </div>
          <br>
          <h4 >Ordenes</h4>
          <hr>
              {{#each order.menuUser as |menus|}}
              <div class="col s3">{{menus.firstTime}}</div>
              <div class="col s3">{{menus.secondTime}}</div>
              <div class="col s3">{{menus.main}}</div>
              <a href="admin/delete/menuUser/{{menus._id}}" class="btn btn-floating btn-small red"><i class="material-icons">delete</i></a>
              <br><br><br>
              {{/each}}
          </div>
      {{/each}}
      </div>
      </div>
    </div>

