<div class="container">
<h1>
    Hi, {{userName}}
</h1>
<div>
      {{#unless orders}}
        <h3 class="red-text">No tienes reservaciones</h3>
      {{/unless}}
</div>
<div class="container">
  <div class="col s12 m12">
    <div class="card">
      {{#each orders as |order|}}
        <div class="card-image">
          <img src="{{order.fonda.img}}">
        </div>
        <div class="card-stacked">
            <span class="card-title">{{order.fonda.name}}</span>
          <div class="card-content">
            <div class="collection">
              <p> Invitados {{order.howMany}}</p>
              <p> Hora Reservacion {{order.arrive}}</p>
            </div>
              <table>
        <thead>
          <tr>
              <th>Primer</th>
              <th>Segundo</th>
              <th>Plato fuerte</th>
          </tr>
        </thead>

        <tbody>
              {{#each order.menuUser as |menus|}}
          <tr>
            <td>{{menus.firstTime}}</td>
            <td>{{menus.secondTime}}</td>
            <td>{{menus.main}}</td>
          </tr>
              {{/each}}
        </tbody>
      </table>
              <div class="card-action">
                <a href="/admin/user/edit/{{order._id}}" class="btn-floating halfway-fab left blue"><i class="material-icons">edit</i></a>
                <a href="/user/delete/{{order._id}}" class="btn-floating halfway-fab red"><i class="material-icons">delete</i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
</div>
