<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m5">
        <h4>{{fonda.name}}</h4>
        <img src="{{fonda.img}}" alt="{{fonda.name}}" class="materialboxed responsive-img" width="300">    
        <p>{{fonda.description}}</p>
        <p>{{fonda.phoneNumber}}</p>
        <small>{{fonda.rank}}</small>
        <div id="map" style="width: 650px; height: 400px"></div>
      </div>
      <div class="col s12 m7">
        <h4>Nuestro menú de hoy: </h4>
        <div class="card-grid">
          <wired-card elevation="3">
            <form action="/reservation" method="POST">
              <h4>{{createdAt}}</h4>

              <p>Primer tiempo: </p>
              <wired-radio-group role="radiogroup" tabindex="0">
                <wired-radio name="first-first" class="wired-rendered" role="checkbox" onchange="document.getElementById('first').value = this.value">Consome</wired-radio>

                <wired-radio name="first-second" class="wired-rendered" role="checkbox" onchange="document.getElementById('firstTime').value = this.value">Sopa</wired-radio>
                <input type="hidden" id="firstTime" name="firstTime">
              </wired-radio-group>
              

              <p>Segundo tiempo: </p>

              <wired-radio-group role="radiogroup" tabindex="0">
                <wired-radio name="second-first" class="wired-rendered" role="checkbox" onchange="document.getElementById('secondTime').value = this.value">Arroz</wired-radio>

                <wired-radio name="second-second" class="wired-rendered" role="checkbox" onchange="document.getElementById('secondTime').value = this.value">Pasta</wired-radio>
                <input type="hidden" id="secondTime" name="secondTime">
              </wired-radio-group>

              <p>Platos fuerte: </p>

              <wired-radio-group role="radiogroup" tabindex="0">
                <wired-radio name="main-one" onchange="document.getElementById('main').value = this.value">{{mainOne}}</wired-radio>
                <wired-radio name="main-two" onchange="document.getElementById('main').value = this.value">{{mainTwo}}</wired-radio>
                <wired-radio name="main-three" onchange="document.getElementById('main').value = this.value">{{mainThree}}</wired-radio>
                <input type="hidden" id="main" name="main">
              </wired-radio-group>
              <br><br>
              <wired-button class="yellow" onclick="addMenu()">¡Agregar!</wired-button>
            </form>
          </wired-card>
      </div>
    </div>
  </div>
</div>



{{#unless order}}
<!--Modal-->
<div id="modal1" class="modal bottom-sheet">
  <div class="modal-content">
    <form action="new-order" method="POST">
      <h4>¿Cuántas personas vienen a comer?</h4>
      <wired-input type="text" name="howMany" onchange="document.getElementById('howMany').value = this.value"></wired-input>
      <input type="hidden" id="howMany" name="howMany">
      <input type="hidden" id="fonda" name="fonda" value={{fonda._id}}>
      <wired-button class="color-orange" onclick="document.forms[1].submit()">¡Ordenemos!</wired-button>
    </form>
  </div>
</div>

<script>
  window.onload = function() {
    const elem = document.getElementById('modal1');
    const instance = M.Modal.init(elem, {dismissible: false});
    instance.open();
  }
</script>
<!--End modal-->
{{/unless}}