<script src="https://api.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js"></script>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v3.1.3/mapbox-gl-directions.js'></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css" rel="stylesheet"/>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v3.1.3/mapbox-gl-directions.css' type='text/css' />

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m5">
        <h4>{{fonda.name}}</h4>
        <img src="{{fonda.picPath}}" alt="{{fonda.name}}" class="responsive-img">    
        <p>{{fonda.description}}</p>
        <p>{{fonda.phoneNumber}}</p>
        <small>{{fonda.rank}}</small>
        <div id="map" style="width: 100%; height: 200px"></div>
        <br><br>
      </div>
      <div class="col s12 m7">
        <h4>Nuestro menú de hoy: {{createdAt}}</h4>
        <div class="card-grid">
          <wired-card elevation="3">
            <form action="reservation" method="POST">
              <h4>Persona {{person}}</h4>

              <p>Primer tiempo: </p>
              <wired-radio-group role="radiogroup" tabindex="0">
                <wired-radio name="consome" class="wired-rendered" role="checkbox" onchange="document.getElementById('firstTime').value = this.name">Consome</wired-radio>


                <wired-radio name="sopa" class="wired-rendered" role="checkbox" onchange="document.getElementById('firstTime').value = this.name">Sopa</wired-radio>

                <input type="hidden" id="firstTime" name="firstTime">
              </wired-radio-group>
              

              <p>Segundo tiempo: </p>

              <wired-radio-group role="radiogroup" tabindex="0">
                <wired-radio name="arroz" class="wired-rendered" role="checkbox" onchange="document.getElementById('secondTime').value = this.name">Arroz</wired-radio>

                <wired-radio name="pasta" class="wired-rendered" role="checkbox" onchange="document.getElementById('secondTime').value = this.name">Pasta</wired-radio>

                <input type="hidden" id="secondTime" name="secondTime">
              </wired-radio-group>

              <p>Platos fuerte: </p>

              <wired-radio-group role="radiogroup" tabindex="0">
                <wired-radio name="{{mainOne}}" onchange="document.getElementById('main').value = this.name">{{mainOne}}</wired-radio>
                <wired-radio name="{{mainTwo}}" onchange="document.getElementById('main').value = this.name">{{mainTwo}}</wired-radio>
                <wired-radio name="{{mainThree}}" onchange="document.getElementById('main').value = this.name">{{mainThree}}</wired-radio>
                <input type="hidden" id="main" name="main">
              </wired-radio-group>
              <input type="hidden" id="order" name="order" value="{{order._id}}">
              <input type="hidden" id="fonda" name="fonda" value="{{fonda._id}}">
              <br><br><br>
              <wired-button onclick="document.forms[0].submit()" class="color-orange">¡Agregar!</wired-button>
              <br><br>
            </form>
          </wired-card>
      </div>
    </div>
  </div>

{{#unless order}}
<!--Modal-->
<div id="modal1" class="modal bottom-sheet">
  <div class="modal-content">
    <form action="new-order" method="POST">
      <h4>¿Cuántas personas y a qué hora vienen a comer?</h4>
      <wired-input type="text" placeholder="Cuántas" name="howMany" onchange="document.getElementById('howMany').value = this.value"></wired-input>
      <input type="hidden" id="howMany" name="howMany">
      <wired-input type="time" placeholder="A qué hora" name="howMany" onchange="document.getElementById('arrive').value = this.value"></wired-input>
      <input type="hidden" id="arrive" name="arrive">
      <input type="hidden" id="fonda" name="fonda" value={{fonda._id}}>
      <wired-button class="color-orange" onclick="document.forms[1].submit()">¡Ordenemos!</wired-button>
    </form>
  </div>
</div>
<script>
  window.onload = function() {
    const elem = document.getElementById('modal1');
    const instance = M.Modal.init(elem, {dismissible: false});
    instance.open();
  }
</script>
{{/unless}}

{{#if done}}
<!--Modal-->
<div id="modal1" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>Has ordenado con éxito hoy en esta fonda. Checa tu orden <a href="/user">aquí</a>.</h4>
  </div>
</div>
<script>
  window.onload = function() {
    const elem = document.getElementById('modal1');
    const instance = M.Modal.init(elem, {dismissible: false});
    instance.open();
  }
</script>
{{/if}}


<script>
function startMap() {

  mapboxgl.accessToken = 'pk.eyJ1IjoieWVhaGJldG95ZWFoIiwiYSI6ImNqdXR5aTVycTBkM3E0M3AxZmlqdXJlMHMifQ.KPkktYTj4hGvbppjP0d2AQ';
  
  const map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [{{ fonda.location.coordinates }}],
    zoom: 15
  })

  new mapboxgl.Marker({
      color: 'yellow',
    })
    .setLngLat([{{ fonda.location.coordinates }}])
    .addTo(map)

  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function (position) {
      var user_location = [
        position.coords.longitude,
        position.coords.latitude,
      ];
      
      // Center map with user location
      map.setCenter(user_location)

      // Add market for your user location
      const userLocationMarker = new mapboxgl.Marker({ color: "orange" })
        .setLngLat(user_location)
        .addTo(map)

      map.on('load', function () {
        map.addLayer(
          {
            "id": "route",
            "type": "line",
            "source": {
              "type": "geojson",
              "data": {
                  "type": "Feature",
                  "properties": {},
                  "geometry": {
                    "type": "LineString",
                    "coordinates": [
                      user_location,
                      [{{ fonda.location.coordinates }}]
                    ]
                  }
              }
            }
        });
      });
    }, function () {
      console.log('Error in the geolocation service.');
    });
  } else {
    console.log('Browser does not support geolocation.');
  }
}
startMap()
</script>