<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m12">
        <h5>Buscando: "{{main}}"</h5>
      </div>
    </div>
    <div class="row">
      {{#each menus as |menu|}}
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="{{menu.fonda.img}}">
            <span class="card-title">{{menu.fonda.name}}</span>
            <a class="btn-floating halfway-fab waves-effect waves-light orange" href="/fondas/{{menu.fonda._id}}"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <p>{{menu.fonda.description}}</p>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>